.groupes-discussions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: #f6f7f9;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media (max-width: 742px) {
  .container-discussions .col-2 {
    flex: none;
    max-width: none;
  }
  .container-discussions .col-8 {
    flex: none;
    max-width: none;
  }
}
